/**
 * citrus-scheme theme kurenai
 *
 * @copyright   Copyright 2018, Citrus/besidesplus All Rights Reserved.
 * @author      take64 <take64@citrus.tk>
 */

#citrus-scheme.theme-kurenai h1,
#citrus-scheme.theme-kurenai h2 {
    color: #D7003A;
}
#citrus-scheme.theme-kurenai h3 {
    background-color: #D7003A;
}

#citrus-scheme.theme-kurenai fieldset {
    border: 4px solid #D7003A;
    background-color: #D6ABB77F;
}
#citrus-scheme.theme-kurenai fieldset legend {
    background-color: #D7003A;
}
#citrus-scheme.theme-kurenai fieldset a {
    color: #D7003A;
    font-weight: bold;
}

#citrus-scheme.theme-kurenai .caption {
    border-color: #D7003A;
}

/* form */
#citrus-scheme.theme-kurenai input[type=text]:focus,
#citrus-scheme.theme-kurenai input[type=password]:focus {
    border-color: #D7003A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(255, 0, 68, 0.5);
}

#citrus-scheme.theme-kurenai input[type=button],
#citrus-scheme.theme-kurenai input[type=submit] {
    border-color: #D7003A;
}

#citrus-scheme.theme-kurenai input[type=button]:hover,
#citrus-scheme.theme-kurenai input[type=submit]:hover {
    background-color: #D7003A;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 0 8px rgba(255, 0, 68, 0.5);
}
/* navigation */
#citrus-scheme.theme-kurenai .navigation-top .drop-menu {
    background-color: #D7003A;
}
#citrus-scheme .navigation-top .drop-menu li a {
    color: white;
}
#citrus-scheme .navigation-top .drop-menu li ul li a {
    background-color: #FF0044;
    color: white
}
#citrus-scheme .navigation-top .drop-menu li:hover > a {
    background-color: #FF0044;
    color: white;
}
#citrus-scheme .navigation-top .drop-menu li:hover ul li {
    border-top-color: #FF0044;
    border-bottom-color: #D7003A;
}
#citrus-scheme .navigation-top .drop-menu li:hover ul li:hover > a {
    background-color: #D7003A;
}